@{
    ViewBag.Title = "Início";
}


<br />
<br />

<div class="container">
    <div class="row">
        <div class="col-sm-12 m-auto">

            <img src="~/fonts/Imagens/Estudante.jpg" class="img-fluid" width="80%" height="80%">
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <h2 class="text-center">Sinopse do Projeto</h2>
        <p>
            Esse é um App funcional, desenvolvido no curso de Asp.Net MVC5.
            Tem como propósito aprender a persistir dados no sql-server,
            validar campos no back e front, entender o fluxo na controller, view e model.
        </p>
        <p>
            Não esta sendo empregado divisão em camadas no projeto.
            O intuito é fazer algo simples, porém, bem executado.
        </p>
        <p><a class="btn btn-info" href="https://github.com/Jeffconexion">GitHub &raquo;</a></p>
    </div>

</div>
